.play-pause-button {
    -fx-background-color: linear-gradient(to top right, #a674fc, #ff003a);
    -fx-background-radius: 50%;
    -fx-padding: 12;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255, 65, 108, 0.6), 15, 0.5, 2, 2);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1;
    -fx-border-radius: 50%;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s ease;
}

.play-pause-button:hover {
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.play-pause-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-effect: dropshadow(gaussian, rgba(255, 65, 108, 0.4), 10, 0.5, 0, 0);
}

.next-previous-button {
    -fx-background-color: transparent;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-cursor: hand;
}

.next-previous-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.next-previous-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.shuffle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 3, 0.6, 0, 0);
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-cursor: hand;
}

.shuffle-button:hover {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 15, 0.8, 0, 0);
}

.shuffle-button:selected {
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(to right, #ff4b2b, #8e2de2);
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.6), 12, 0.5, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.shuffle-button:selected:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 15, 0.4, 0, 0);
}

.waveFormCanvas {
    -fx-background-color: transparent;
}

.time-label:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.tag {
    -fx-background-color: linear-gradient(to bottom right, rgba(0, 0, 0, 0.42), rgba(141, 45, 225, 0));
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.title {
    -fx-text-fill: linear-gradient(to right, #ff4b2b, #8e2de2);
}

.lyrics-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.lyrics-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 12, 0.2, 0, 0);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.lyrics-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.curved-progress {
    -fx-stroke: linear-gradient(to right, #ffffff, #ca98ff, #ff00a5);
    -fx-effect: dropshadow(gaussian, #ff8ed5, 30, 0.6, 0, 0);
}

.volume-slider {
    -fx-control-inner-background: #ffffff;
}

.volume-slider .track {
    -fx-background-color: rgba(253, 0, 164, 0.09);
}

.volume-slider .thumb {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 0, 195, 0.58));
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;

}

.volume-slider .thumb:hover {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-effect: dropshadow(gaussian, #ff00a5, 20, 0.2, 0, 0);
}

.volume-slider .thumb:pressed {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.volume-button {
    -fx-text-fill: linear-gradient(to right, #ff4b2b, #8e2de2);
}

.custom-scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.custom-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.custom-scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 10px;
}

.custom-scroll-pane .thumb {
    -fx-background-color: linear-gradient(to top right, #a674fc, #ff003a);
    -fx-background-insets: 2;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(255, 65, 108, 0.6), 20, 0.2, 2, 2);
}

.custom-scroll-pane .thumb:hover {
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
}

.custom-scroll-pane .track {
    -fx-background-color: transparent;
}

.custom-scroll-pane .corner {
    -fx-background-color: transparent;
}

.window-toggle {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(7, 7, 7, 0.8), 25, 0.6, 0, 0);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-width: 1;
    -fx-background-radius: 0; /* flat sides */
    -fx-shape: "M 0 0 L 100 0 L 85 20 L 100 40 L 0 40 Z"; /* custom flag shape */
}

.window-toggle:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
}

.window-toggle:pressed {
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(7, 7, 7, 0.8), 25, 0.6, 0, 0);
}

.window-toggle:selected {
    -fx-background-color: linear-gradient(to top right, #a674fc, #ff003a);
    -fx-effect: dropshadow(gaussian, rgba(7, 7, 7, 0.8), 25, 0.6, 0, 0);
}

.window-toggle:selected:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.3, 0, 0);
}

.window-toggle:selected:pressed {
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(7, 7, 7, 0.8), 25, 0.6, 0, 0);
}

/*--- Info Stylize ---*/
.info-button {
    -fx-background-color: linear-gradient(to bottom right, #8e2de2, #ff4b2b);
    -fx-background-radius: 0%;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.5, 0, 0);
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-transition: all 0.3s ease;
}

.info-button:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 15, 0.3, 0, 0);
    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
}

.info-button:pressed {
    -fx-text-fill: black;
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 2);
}

.info-title {
    -fx-text-fill: linear-gradient(to right, #ff4b2b, #8e2de2);
    -fx-font-size: 18px;
    -fx-font-family: "Chiffon TRIAL SemiBold";
}

.info-text {
    -fx-font-family: "Script MT Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.info-credits {
    -fx-font-family: "Georgia", "Times New Roman";
    -fx-text-fill: lightblue;
    -fx-underline: false;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.info-credits:hover {
    -fx-text-fill: #00c1ff;
    -fx-underline: true;
}

.info-root {
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #2e2e2e);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.6, 3, 3);
}

.custom-title-bar {
    -fx-background-color: linear-gradient(to top right, #012245, #5d3848);
    -fx-padding: 2 4;
    -fx-alignment: center;
}

.title-label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.window-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 2 8;
    -fx-cursor: hand;
}

.window-close-button {
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-size: 18px;
    -fx-padding: 2 8;
    -fx-cursor: hand;
}

.window-close-button:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 0, 0, 0.45);
    -fx-background-radius: 6;
}

.window-close-button:pressed, .window-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.6;
}

.window-button:hover {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 6;
}

.playlist-name {
    -fx-text-fill: linear-gradient(to right, #ff4b2b, #8e2de2);
    -fx-background-color: linear-gradient(to left, rgba(217, 65, 130, 0.18), rgb(0, 0, 0));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.6, 3, 3);
}

.notification-label {
    -fx-background-color: linear-gradient(to left, rgba(241, 22, 115, 0.18), rgba(0, 0, 0, 0.19));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.6, 3, 3);
}