.list-view {
    -fx-selection-bar: #ff4747;
    -fx-selection-bar-non-focused: #FFA07A;
}

.list-cell:selected {
    -fx-background-color: linear-gradient(to right, #00BFFF, #87CEEB);
}

.list-cell:selected:focused {
    -fx-background-color: #D3D3D3;
}

.custom-context-menu {
    -fx-background-color: linear-gradient(to bottom right, #1a1a1a, #2e2e2e);
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused .label {
    -fx-text-fill: #000000;
}

.custom-scroll-pane {
    --fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: linear-gradient(to bottom, #ff4b2b, #8e2de2);
    -fx-background-insets: 2;
    -fx-background-radius: 8;
}

.scroll-bar .thumb:hover {
    -fx-background-color: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
    -fx-cursor: hand;
}

.scroll-bar .thumb:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-cursor: hand;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.fav-button {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: rgb(68, 68, 68);
    -fx-translate-x: 35;
    -fx-rotate: -15;
}

.fav-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.fav-button:selected {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-translate-x: 35;
    -fx-rotate: -15;
}

.fav-button:hover, fav-button:selected:hover {
    -fx-text-fill: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
}

.q-button {
    -fx-text-fill: #ffffff;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-radius: 25%;
    -fx-padding: 6 12 6 12;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 15, 0.3, 0, 0);
    -fx-translate-x: -40px;
    -fx-translate-y: -35px;
}

/*Library Buttons*/
.libraryButton {
    -fx-border-width: 12px;
    -fx-background-color: linear-gradient(to left, #1a1a1a, #2e2e2e);
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 20, 0.2, 2, 2);
}

.libraryButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-text-fill: linear-gradient(to bottom right, #ff5f6d, #ffc371);
    -fx-effect: dropshadow(gaussian, rgba(255, 100, 100, 0.8), 25, 0.6, 0, 0);
}

.libraryButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/*playlist */
.playlist-textfield {
    -fx-background-color: transparent; /* dark background */
    -fx-font-family: "Times New Roman";
    -fx-text-fill: black; /* white text */
    -fx-background-radius: 8; /* rounded corners */
    -fx-border-radius: 4; /* rounded border */
    -fx-border-color: #3c3c3f; /* bluish border */
    -fx-border-width: 1.5; /* border thickness */
    -fx-padding: 4 8 4 8; /* padding inside */
    -fx-font-size: 14px;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5); /* grey placeholder */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 15, 0.6, 3, 3);
}

.playlist-textfield:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 25, 0.2, 3, 3);
}

.playlist-textfield:focused {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to right, #041c34, #4a1723);
    -fx-effect: dropshadow(gaussian, rgba(255, 65, 108, 0.6), 20, 0.2, 2, 2);
}





